<div class="">
  <h1>Upcoming Angular Events</h1>
  <hr>
  <div class="row">
    <div class="col-md-6" *ngFor="let event of events">
      <event-thumbnail [event]="event" ></event-thumbnail>
    </div>
  </div>
</div>