em {
  float: right;
  color: #e05c65;
  padding-left: 10px;
}

.error {
  input {
    background-color: #e3c3c5;
  }

  ::-webkit-input-placeholder,
  ::-moz-placeholder,
  :-moz-placeholder,
  :-ms-input-placeholder {
    color: #999 !important;
  }
}
