<div class="well hoverwell thumbnail" [routerLink]="['/events', event?.id]" routerLinkActive="active">
  <h2>{{event?.name | uppercase}}</h2>
  <div>Date: {{event?.date | date:'M/d/yyyy'}}</div>
  <div [ngStyle]="getStartTimeStyle()" [ngSwitch]="event?.time">Time: {{event?.time}}
    <span *ngSwitchCase="'8:00 am'">(Early Start)</span>
    <span *ngSwitchCase="'10:00 am'">(Late Start)</span>
    <span *ngSwitchDefault>(Normal Start)</span>
  </div>
  <div>Price: {{event?.price | currency: 'USD'}}</div>
  <div *ngIf="event?.location">Location:
    <span>{{event?.location?.address}},&nbsp;</span>
    <span>{{event?.location?.city}},&nbsp;</span>
    <span>{{event?.location?.country}}</span>
  </div>
  <div *ngIf="event?.onlineUrl">Online URL: {{event?.onlineUrl}}</div>
</div>