<h1>Login</h1>
<hr>
<div class="col-md-4">
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" autocomplete="off">
    <div class="form-group"
        [ngClass]="{error: loginForm.controls.userName?.invalid && (loginForm.controls.userName?.touched || mouseoverLogin)}">
      <label for="userName">User Name:</label>
      <em
          *ngIf="loginForm.controls.userName?.invalid && (loginForm.controls.userName?.touched || mouseoverLogin)">Required</em>
      <input (ngModel)="userName" name="userName" id="userName" type="text" class="form-control"
          placeholder="User Name..." required />
    </div>
    <div class="form-group"
        [ngClass]="{error: loginForm.controls.password?.invalid && (loginForm.controls.password?.touched || mouseoverLogin)}">
      <label for="password">Password:</label>
      <em
          *ngIf="loginForm.controls.password?.invalid && (loginForm.controls.password?.touched || mouseoverLogin)">Required</em>
      <input (ngModel)="password" name="password" id="password" type="password" class="form-control"
          placeholder="Password..." required />
    </div>

    <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
      <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button></span>
    <button type="button" (click)="cancel()" class="btn btn-default">Cancel</button>
  </form>
</div>