<div class="col-md-12">
  <h3>Create Session</h3>
</div>
<div class="col-md-6">
  <form [formGroup]="sessionForm" (ngSubmit)="saveSession(sessionForm.value)" autocomplete="off">
    <div class="form-group" [ngClass]="{error: sessionName.invalid && sessionName.touched}">
      <label for="sessionName">Session Name:</label>
      <em *ngIf="sessionName.invalid && sessionName.touched">Required</em>
      <input formControlName="name" id="sessionName" type="text" class="form-control" placeholder="session name..." />
    </div>
    <div class="form-group" [ngClass]="{error: eventDate.invalid && eventDate.touched}">
      <label for="eventDate">Presenter:</label>
      <em *ngIf="eventDate.invalid && eventDate.touched">Required</em>
      <input formControlName="presenter" id="presenter" type="text" class="form-control" placeholder="presenter..." />
    </div>
    <div class="form-group" [ngClass]="{error: eventDuration.invalid && eventDuration.touched}">
      <label for="duration">Duration:</label>
      <em *ngIf="eventDuration.invalid && eventDuration.touched">Required</em>
      <select formControlName="duration" class="form-control">
        <option value="">select duration...</option>
        <option value="1">Half Hour</option>
        <option value="2">1 Hour</option>
        <option value="3">Half Day</option>
        <option value="4">Full Day</option>
      </select>
    </div>
    <div class="form-group" [ngClass]="{error: sessionLevel.invalid && sessionLevel.touched}">
      <label for="level">Level:</label>
      <em *ngIf="sessionLevel.invalid && sessionLevel.touched">Required</em>
      <select formControlName="level" class="form-control">
        <option value="">select level...</option>
        <option value="Beginner">Beginner</option>
        <option value="Intermediate">Intermediate</option>
        <option value="Advanced">Advanced</option>
      </select>
    </div>
    <div class="form-group"
        [ngClass]="{error: sessionAbstract.invalid && sessionAbstract.touched || sessionAbstract.errors?.restrictedWords}">
      <label for="abstract">Abstract:</label>
      <em *ngIf="sessionAbstract.invalid && sessionAbstract.touched && sessionAbstract.errors?.required">Required</em>
      <em *ngIf="sessionAbstract.invalid && sessionAbstract.touched && sessionAbstract.errors?.maxLength">Cannot exceed
        400 characters</em>
      <em *ngIf="sessionAbstract.invalid && sessionAbstract.errors?.restrictedWords">Restricted
        words found: {{sessionAbstract.errors?.restrictedWords}}</em>
      <textarea formControlName="abstract" id="abstract" rows=3 class="form-control"
          placeholder="abstract..."></textarea>
    </div>
    <button type="submit" [disabled]="sessionForm.invalid" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
  </form>
</div>